.loginBody {
  height: 100vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;  
}
