/* PROGRESS 2 */

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .progress-circle {
    stroke-dasharray: 189;
    stroke-dashoffset: 189;
  }