

  /* function base */

  .tag-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
        /* min-width: 80%; */
    max-width: 1024;
    border: 1px solid #E4E9FF;
    border-radius:  10px;
    padding: 10px;
    width: 100%;
    margin: auto;


  }
  .tag {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
    margin: 2px 5px 2px 0px;
    background-color: #F1F3FF;
;
    /* color: white; */
  }

  .tag-container input {
    border: none;
    flex: 1;
    outline: none;
    padding: 5;
    width: 100%;
    /* background: black; */

    /* color: white; */
    width: 100%;
    display: block;
    align-self: end;
  }
  .tag span {
    margin-left: 10px;
    cursor: pointer;
  }
