.drop-down-wrapper {
  position: relative;
}

.drop-down-content {
  width: fit-content;
  position: absolute;
  right: 0%;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.16);
  background-color: white;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
  min-width: 260px;
  z-index: 10;
}

.drop-down-content .show-drop-down {
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
